/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {
  .app-shape2 {
    right: -20%;
  }
  .s-img {
    margin-left: -70px;
  }
  .header-section {
    overflow: hidden;
  }
  .shape02 {
    bottom: -114%;
    left: 41%;
  }
  .latest-blog-content {
    margin: 0 20px;
    margin-top: -50px;
  }
  .latest-blog-inner {
    padding: 34px 29px;
  }
  .shape01 {
    left: 3%;
  }
  .slider-img {
    margin-top: 145px;
  }
}

/* LG desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
  .main-menu ul li {
    margin-right: 7px;
    margin-left: 7px;
  }
  .slider-height {
    min-height: 1060px;
    background-position: center center;
  }
  .slider-space {
    padding-top: 239px;
  }
  .shape02 {
    bottom: -40%;
    left: 60%;
  }
  .latest-blog-content {
    margin: 0 15px;
    margin-top: -50px;
  }
  .latest-blog-inner {
    padding: 20px 15px;
  }
  .latest-blog-inner h4 > a {
    font-size: 15px;
  }
  .header-section {
    overflow: hidden;
  }
  .appri-btn {
    padding: 19px 26px;
  }
}

/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
  .slider-height {
    min-height: 800px;
    background-position: center center;
  }
  .slider-space {
    padding-top: 224px;
  }
  .shape02 {
    bottom: -20%;
    left: 61%;
  }
  .latest-blog-content {
    margin: 0 10px;
    margin-top: -50px;
  }
  .latest-blog-inner {
    padding: 10px;
  }
  .latest-blog-icon span {
    font-size: 12px;
    margin-right: 5px;
  }
  .latest-blog-inner h4 > a {
    font-size: 16px;
    padding-right: 0px;
  }
  .latest-blog-icon span i {
    width: 16px;
  }
  .newletter-form input {
    height: 67px;
  }
  .appri-btn {
    font-size: 16px;
    padding: 14px 23px;
  }
  .appri-btn.news-btn {
    right: 36px;
    top: 5px;
  }
  .newletter-form {
    padding: 0 30px;
  }
  .newsletter-text {
    text-align: center;
    margin-bottom: 30px;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {
  .slider-shape {
    display: none;
  }
  .slider-space {
    padding-top: 210px;
  }
  .mean-container a.meanmenu-reveal {
    top: -54px;
  }
  .slider-text p {
    font-size: 20px;
    padding-right: 0px;
  }
  .mar-b {
    margin-bottom: 30px;
  }
  .slider-height {
    min-height: 1049px;
    background-position: center;
    overflow: hidden;
  }
  .fact-section {
    overflow: hidden;
    margin-top: -160px;
  }
  .slider-text h2 {
    font-size: 45px;
    padding-right: 0px;
  }
  .latest-blog-content {
    margin: 0px 25px;
    margin-top: -50px;
  }
  .latest-blog-inner {
    padding: 25px 25px;
  }
  .latest-blog-inner h4 > a {
    padding-right: 0px;
  }
  .latest-blog-icon span {
    margin-right: 10px;
  }
  .mb-100 {
    margin-bottom: 60px;
    margin-top: 65px;
  }
  .apps-heading h2 {
    font-size: 35px;
    margin: 0;
  }
  .apps-logo {
    justify-content: space-between;
  }
  .apps-text strong {
    font-size: 19px;
  }
  .apps-text span a {
    font-size: 12px;
  }
  .newsletter-text {
    text-align: center;
    margin-bottom: 30px;
  }
  .newsletter-text h2 {
    font-size: 25px;
  }
  .appri-btn.news-btn {
    top: 18px;
  }
  .newletter-form input {
    height: 50px;
    padding: 0 10px;
  }
  button.appri-btn {
    padding: 7px 25px;
  }
  button.appri-btn.news-btn {
    top: 4px;
  }
  button.appri-btn {
    padding: 7px 7px;
    font-size: 14px;
  }
}
